In [ ]:
# Task 2 : City Analysis

In [1]:
# imported required libraries
import pandas as pd
import numpy as np

In [6]:
# loaded the data set
df=pd.read_csv(r"c:\Users\DELL\Downloads\Dataset .csv")
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [13]:
#Identify the city with the highest numberof restaurants in the dataset.
df[['City','Restaurant Name']].groupby('City').count().sort_values(by='Restaurant Name',ascending=False).head(1)

           Restaurant Name
City
New Delhi             5473

In [16]:
#Calculate the average rating for restaurants in each city
df[['City','Aggregate rating']].groupby('City').mean()

                 Aggregate rating
City
Abu Dhabi                4.300000
Agra                     3.965000
Ahmedabad                4.161905
Albany                   3.555000
Allahabad                3.395000
...                           ...
Weirton                  3.900000
Wellington City          4.250000
Winchester Bay           3.200000
Yorkton                  3.300000
��stanbul                4.292857

[141 rows x 1 columns]

In [18]:
#Determine the city with the highest average rating.
df[['City','Aggregate rating']].groupby('City').mean().sort_values(by='Aggregate rating',ascending=False).head(1)

            Aggregate rating
City
Inner City               4.9